* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  /* border: 1px solid black; */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 100px;
  font-size: 20px;
}
.nav-item {
  list-style-type: none;
  cursor: pointer;
}
.nav-item:hover {
  border-bottom: 3px solid red;
}
/* section a propos */
.apropos {
  /* background-color: aquamarine; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apropos_content {
  /* border: 1px solid black; */
  border-radius: 25px;
  width: 80vw;
  height: 60%;
  display: flex;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
}
.title {
  /* border: 1px solid red; */
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  padding-left: 40px;
}
.title h1,
.title h2 {
  font-family: 'Poppins';
}

.title h2 {
  font-size: 3vw;
  color: white;
  -webkit-text-stroke: 0.1vw rgb(255, 0, 55);
  text-transform: uppercase;
  position: relative;
}
h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  color: rgb(255, 0, 55);
  -webkit-text-stroke: 0vw black;
  /* border-right: 2px solid rgb(255, 0, 55); */
  overflow: hidden;
  animation: animate 6s linear infinite;
  white-space: nowrap;
}
@keyframes animate {
  0%,
  100% {
    width: 0;
  }

  80% {
    width: 100%;
  }
}
.avatar {
  /* border: 1px solid blue; */
  width: 34%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section projets */
.projets {
  /* background-color: rgb(245, 241, 241); */
  height: 100vh;
  width: 100%;
}
.content_projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 250px);
  justify-content: center;
  align-content: center;
  height: 60vh;
  gap: 50px;
}
.card_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  /* border: 2px solid black; */
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 100%;
  transition: transform 330ms ease-in-out;
}
.card img {
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
}
.title_card {
  font-size: 20px;
  padding: 5px;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px rgba(19, 11, 11, 0.6);
}
/* section outils */
.outils {
  /* background-color: rgb(245, 241, 241); */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_tools {
  /* border: 1px solid black; */
  width: 80vw;
  height: 50vh;
  display: flex;
  gap: 10px;
}
.dev,
.tools {
  /* border: 1px solid black; */
  height: 100%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  gap: 50px;
}
.logos img {
  margin: auto;
}
/* section contact */
.contactForm {
  /* background-color: rgb(156, 156, 154); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.contact input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #e5e5e5;
}
.contact input,
.contact textarea,
.contact button {
  margin: 5px;
  padding: 2px;
}
.contact textarea {
  height: 150px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.contact button {
  font-size: 18px;
  border: 1px solid #e5e5e5;
  /* background-color: rgba(209, 157, 157, 0.6); */
  border-radius: 15px;
  width: 40%;
  padding: 10px;
  margin: 20px auto;
  transition: all 0.6s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.contact button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #b3b0b0;
  transition: all 0.6s;
  z-index: -1;
}
.contact button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  transition: all 0.5s;
  z-index: -2;
}
.contact button:hover {
  cursor: pointer;
}
.contact button:hover:before {
  width: 100%;
}
